mixin list-item(percent)
  a(href='#')
    if (percent.endsWith('%'))
      span.progress(style={width: percent})
    span: block
    span=percent

.container
  .col#sidebar
    nav
      .header
        a.brand(href='#'): i.fa.fa-rocket
        button#menu: i.fa.fa-bars
      ul
        li.search
          input.form-control#search(placeholder='Search...')
          button.btn-search: i.fa.fa-lg.fa-search
        li.nav-text Dashboards
        li: a.active(href='#') Overview
        li: a(href='#') Order history
        li: a(href='#') Fluid layout
        li: a(href='#') Icon nav
        li.nav-text More
        li: a(href='#') Toolkit docs
        li: a(href='#') Bootstrap docs
        li: a(href='#') Light UI
        li: a(href='#') Example modal
        li: .divider
  .col
    .row.fluid.header
      .label
        span Dashboards
        h2 Overview
      #date-range
        input.form-control
        div -
        input.form-control
    .divider
    .row.fluid
      .doughnut
        .chart: canvas#test1
        strong Traffic
        h4 New vs Returning
      .doughnut
        .chart: canvas#test2
        strong Revenue
        h4 New vs Recurring
      .doughnut
        .chart: canvas#test3
        strong Traffic
        h4 Direct vs Referrals
    .divider
      h3 Quick Stats
    .row.sparklines
      .col.sparkline
        .chart
          .label
            span Page Views
            h2 1,293
          .chart-container: canvas#test4
      .col.sparkline
        .chart
          .label
            span Downloads
            h2 758
          .chart-container: canvas#test5
      .col.sparkline
        .chart
          .label
            span Sign-ups
            h2 1,293
          .chart-container: canvas#test6
      .col.sparkline
        .chart
          .label
            span Downloads
            h2 758
          .chart-container: canvas#test7
    